table {
    border-collapse: collapse;
    /* width: 100%; */
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #000000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}

thead {
    font-weight: bold;
}