<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bagage Inlever Systeem</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <h1>Bagage Inlever Systeem</h1>
    <h2>Desk {{desk}}</h2>


    <form action="/add-bagage" method="post">
        <label for="owner">Name:</label>
        <input type="text" name="owner" id="owner" placeholder="Your name" required>

        <label for="weight">weight:</label>
        <input type="number" name="weight" id="weight" placeholder="Weight in kg" required>

        <label for="destinationGate">Destination Gate:</label>
        <input type="text" name="destinationGate" id="destinationGate" placeholder="Destination Gate" required>
                    
        <input type="hidden" name="CheckInDesk" value="{{desk}}">
    
        <input type="submit" value="Submit">
    </form>

</body>

</html>